:root {
    --charcoal: #373f47;
    --middle_gray: #8b8982;
    --cadet_blue_crayola: #aaabbc;
    --blue_gray: #6C91C2;
    --periwinkle_crayola: #c3c9e9;
}

html {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--middle_gray);
}

.aos-init:not(.aos-animate):after {
    position: fixed;
    }

.hr-light {
    border-top: 1px solid var(--periwinkle_crayola);
}

.hr-dark {
    border-top: 1px solid var(--charcoal);
}
/* NAVBAR */

.navbar {
    z-index: 2;
    background-color: var(--charcoal);
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: large;
}
.navbar-brand {
    margin-left: 20px;
    margin-top: 5px;
}
.navbar li {
    font-size: 90%;
    align-items: center;
    margin-right: 10px;
    margin-left: 7px;
    padding: 0
}
.navbar .link-0 a:hover {
    text-decoration: none;
}

.img-logo-navbar {
    width: 40px;
    height: auto;
    filter: invert();
}

.img-logo-social {
    width: 27px;
    height: 27px;
}

.img-logo-social-github {
    width: 27px;
    height: 27px;
    filter: invert();
}

/* LANDING PAGE */

.landing-page {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%) ,url('bg_main.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    padding: 65px;
}

.greetings {
    margin-top: 175px;
    margin-bottom: 175px;
    font-size: 2.5em;
    margin-left: 50px;
    color: var(--periwinkle_crayola);
}

/* IDENTITY */

.identity {
    background-color: var(--periwinkle_crayola);
    color: var(--charcoal);
    padding: 70px;
    font-size: large;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

.img-id {
    width: 60px;
    height: auto;
}

.row-who {
    display: flex;
    align-self: center;
    color: #2A363B;
}

.column-who {
    background-color: var(--periwinkle_crayola);
    border: 2px solid var(--charcoal);
    padding: 10px;
    margin: 12px;
    font-size: large;
    text-align: center;
    width: 200px;
}

.column-who:hover{
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    cursor: pointer;
    filter:opacity(0.8);
    background-color: var(--charcoal);
    color: var(--periwinkle_crayola);
}

/* PROJECTS */

.projects {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 12%, rgba(0, 0, 0, 0.7) 85%, #000000 100%) ,url('bg_projects.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;;
    color: var(--periwinkle_crayola);
    padding: 20px;
    font-size: large;
    text-align: center;
}

.carousel-img {
    width: 1000px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.projects-button {
    padding: 8px;
    border: 2px solid var(--charcoal);
    background-color: var(--periwinkle_crayola);
    color: var(--charcoal);
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.projects-button:hover {
    box-shadow: -1px -7px 28px -10px var(--cadet_blue_crayola);
}


/*SKILLS*/

.skills {
    background-color: var(--periwinkle_crayola);
    color: var(--charcoal);
    padding: 70px;
    font-size: large;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}
.container {
    width: 100%;
    background-color: var(--cadet_blue_crayola);
}
  
.skills-percentage {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    color: var(--charcoal);
}

  .html {width: 80%; background-color: #04AA6D;}
  .css {width: 70%; background-color: #2196F3;}
  .js {width: 35%; background-color: #f44336;}
  .cplusplus {width: 40%; background-color: #04AA6D;}
  .py {width: 30%; background-color: #2196F3;}
  .java {width: 15%; background-color: #f44336;}


/*FOOTER*/

footer {
    background-color:  var(--charcoal);
    padding: 20px;
    text-align: center;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    color: white;
}

.img-logo-social-footer {
    width: 40px;
    height: 40px;
    filter: invert();
    margin: 10px;
}

/*MEDIA ANIMATION*/
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link .navbar-brand{ 
        color: var(--periwinkle_crayola); 
    }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

/*MOBILE*/
@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .landing-page {
        padding: 10px;
    }

    .greetings {
        margin-top: 160px;
        margin-bottom: 270px;
        font-size: 1.5em;
    }

    .row-who {
        display: inline-block;
        align-self: center;
    }

    .carousel-img {
        width: 335px;
        height: auto;
    }
}
