/*
Font import
- Lexend as Header
- Nunito as Body
*/
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Nunito&display=swap');

:root {
  --header-font : "Lexend", sans-serif;
  --body-font: "Nunito", sans-serif;
}

.header-font {
  font-family: var(--header-font);
}

.body-font { 
  font-family: var(--body-font);
}

html, body {
  font-family: var(--body-font);
}